#Intellij
.idea

#Webstorm
*.iml
Dependencies
node_modules
bower_components
jspm_packages

#VSCode
.vscode

#Build directories
build
dist*

#Mac/Unix/Emacs
.DS_Store
*~
*#

#Logs
npm-debug.log
log

#Karma-coverage
coverage/

#Accessibility report
a11y_report.html

#NPM
npm-cache
npm-debug.log.*

tests.bundle.js
