body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.1rem;
}

img {
  width: auto;
  height: 300px;
  display: inline-block;
}

.book-row-content {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  width: 100%;
}

.display-flex {
  display: flex;
}

.inline {
  display: inline;
}

nav{
  padding: 2rem 0;
  background: #111;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

nav section {
  max-width: 900px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-weight: 700;
  color: #cecece;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  background: #222;
}

a {
  color: #ea3546;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

.page {
  margin-top: 8rem;
}

section h1 {
  font-size: 3rem;
}

.post h2 {
  font-size: 2.5rem;
}

.post-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eeeeee;
}

.post-excerpt:first-of-type {
  padding-top: 0;
}

.post-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.comment {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.button {
  display: inline-block;
  background: #ea3546;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  margin: 0 0.5rem;
}

.btn-success {
  background: #42bf00;
  color: white;
}

.btn-group {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

.btn-group a:hover {
  background: #1e7006;
}